{% extends 'base.html' %}
{% block content %}
{% load static %}
  <!-- Breadcroumbs start -->
  <div class="page-content-block page-breadcroumb inner-banner-bg-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Gallery</h1>
          <a href="index.html" title="Home">Home</a> / Gallery </div>
      </div>
    </div>
  </div>
  <!-- Breadcroumbs end --> 
  
  <!-- Image Gallery Start -->
  <div class="page-content-block">
    <div class="container">
      <div class="row gallery-row">
        <div class="col-12 col-sm-6 col-lg-3 gallery-block"> <a class="gallery-holder" href="assets/images/gallery-1.jpg" data-fancybox="images" data-caption="Gallery 1"><img src="{% static 'website/assets/images/gallery-1.jpg' %}" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Gallery 1</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-sm-6 col-lg-3 gallery-block"> <a class="gallery-holder" href="assets/images/gallery-2.jpg" data-fancybox="images" data-caption="Gallery 2"><img src="{% static 'website/assets/images/gallery-2.jpg' %}" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Gallery 2</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-sm-6 col-lg-3 gallery-block"> <a class="gallery-holder" href="assets/images/gallery-3.jpg" data-fancybox="images" data-caption="Gallery 3"><img src="{% static 'website/assets/images/gallery-3.jpg' %}" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Gallery 3</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-sm-6 col-lg-3 gallery-block"> <a class="gallery-holder" href="assets/images/gallery-4.jpg" data-fancybox="images" data-caption="Gallery 4"><img src="{% static 'website/assets/images/gallery-4.jpg' %}" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Gallery 4</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-sm-6 col-lg-4 gallery-block"> <a class="gallery-holder" href="assets/images/gallery-5.jpg" data-fancybox="images" data-caption="Gallery 5"><img src="{% static 'website/assets/images/gallery-5.jpg' %}" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Gallery 5</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-sm-6 col-lg-4 gallery-block"> <a class="gallery-holder" href="assets/images/gallery-6.jpg" data-fancybox="images" data-caption="Gallery 6"><img src="{% static 'website/assets/images/gallery-6.jpg' %}" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Gallery 6</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-sm-6 col-lg-4 gallery-block"> <a class="gallery-holder" href="assets/images/gallery-7.jpg" data-fancybox="images" data-caption="Gallery 7"><img src="{% static 'website/assets/images/gallery-7.jpg' %}" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Gallery 7</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-sm-6 col-lg-6 gallery-block"> <a class="gallery-holder" href="assets/images/gallery-8.jpg" data-fancybox="images" data-caption="Gallery 8"><img src="{% static 'website/assets/images/gallery-8.jpg" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Gallery 8</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>  
        <div class="col-12 col-sm-6 col-lg-6 gallery-block"> <a class="gallery-holder" href="assets/images/gallery-9.jpg" data-fancybox="images" data-caption="Gallery 9"><img src="{% static 'website/assets/images/gallery-9.jpg' %}" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Gallery 9</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>  
        <div class="col-12 col-sm-6 col-lg-3 gallery-block"> <a class="gallery-holder" href="assets/images/cause-education.jpg" data-fancybox="images" data-caption="Fund for poor education"><img src="{% static 'website/assets/images/cause-education.jpg' %}" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Fund for poor education</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-sm-6 col-lg-3 gallery-block"> <a class="gallery-holder" href="assets/images/cause-foodless.jpg" data-fancybox="images" data-caption="Aid for foodless family"><img src="{% static 'website/assets/images/cause-foodless.jpg' %}" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Aid for foodless family</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-sm-6 col-lg-3 gallery-block"> <a class="gallery-holder" href="assets/images/cause-homeless.jpg" data-fancybox="images" data-caption="Help for homeless people"><img src="{% static 'website/assets/images/cause-homeless.jpg' %}" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Help for homeless people</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-sm-6 col-lg-3 gallery-block"> <a class="gallery-holder" href="assets/images/cause-medical-camp.jpg" data-fancybox="images" data-caption="Fund for helth camp"><img src="{% static 'website/assets/images/cause-medical-camp.jpg' %}" alt=""/>
          <div class="gallery-text">
            <div class="gallery-text-block">
              <h4>Fund for helth camp</h4>
              <span>Recent Gllery</span> </div>
          </div>
          </a> </div>
      </div>
    </div>
  </div>
  <!-- Images Gallery end --> 
{% endblock content %}